    body {
        padding: 0;
        margin: 0;
        background-image: linear-gradient( #f9f9f9, #adadad);
        justify-content: center;
    }
    
    .title {
        color: #bac2cb;
        font-family: 'Combo', cursive;
        text-align: center;
    }
    
    .name {
        padding: 0;
        font-size: 50px;
    }

    .contact {
        display: flex;
        justify-content: center;
    }

    .tag {
        margin: 8px;
    }

    .icons {
        max-width: 50px;
    }

    #subtitle {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.125rem;
        padding: 0px 16px 16px;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    .wrapper {
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(173, 35, 120, 0.6);
    }
    
    .aboutme {
        color: #f6f6f6;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
        text-align: center;
        padding-left: 48px;
    }

    .image {
        width: 35%;
        height: 50%;
        text-align: center;
        border-radius: 50px;
        box-shadow: 0px 0px 5px #ffff;
        animation: fadeIn ease 2s;
    }

    .image:hover {
        width: 38%;
        height: 53%;
        cursor:pointer;
    }

    .card-container {
        display: flex;
        justify-content: center;
        padding: 24px 10%;
        animation: fadeIn ease 2s;
    }

    .card {
        min-width: 200px;
        min-height: 300px;
        max-width: 200px;
        max-height: 300px;
        background-color: #d1a2a9;
        border-radius: 40px;
        text-align: center;
        margin: 24px;
        box-shadow: 0px 0px 5px #ffff;
        position: relative;
    }

    .card:hover {
        min-width: 210px;
        max-width: 210px;
        cursor: pointer;
    }

    .card-photo {
        max-width: 100%;
        border-top-left-radius: 80px;
        min-height: 130px;
        bottom: 0;
        position: absolute;
        left: 0;
    }

    .card-title {
        font-size: 1.5rem;
        margin: 16px;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
    }

    .card-description {
        font-size: 1.125rem;
        margin: 0px 16px 16px;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .link {
        color: black;
        text-decoration: none;
        text-transform: none;
        width: 190px;
    }

    .footer {
        margin-top: 100px;
        height: 60px;
        background: rgb(173, 35, 120, 0.6);
        width: 100%;
        border-radius: 0%;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 5px #ffff;
    }

    .footer-email {
        font-size: 1rem;
        display: flex;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        align-items: center;
    }

    #game {
        text-decoration: none;
        margin: 0;
    }

    #title-game {
        padding-top: 16px;
    }
   
    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        height: 600px;
        border: solid black;
        margin-left: auto;
        margin-right: auto;
        background-color: #f9f9f9;
    }
    
    .grid div {
        width: 20px;
        height: 20px;
    }
    
    .pac-dot {
        background-color: lightskyblue;
        border: 5px solid  #e5f4fe;
        box-sizing: border-box;
        border-radius: 10px;
    }
    
    .wall {
        background-color: #b76e79;
    }
    
    .power-pellet {
        background-color: lightskyblue;
        border-radius: 10px;
    }
    
    .blinky {
        background-color: red;
        border: 0px;
    }
    
    .pinky {
        background-color: pink;
        border: 0px;
    }
    
    .inky {
        background-color: cyan;
        border: 0px;
    }
    
    .clyde {
        background-color: orange;
        border: 0px;
    }
    
    .scared-ghost {
        background-color: #8B008B;
        border: 0px;
    }
    
    .pac-man {
        background-color: yellow;
        border-radius: 10px;
    }
    
    
    
    .scorehead {
        color: #B03060;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .gamebuttons {
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

#gamebutton {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    background-color: #b76e79;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
   


}


